.thumb-upload__lists {
  border: 1px solid #efefef;
  padding: 16px;
  min-height: 160px;
}
.thumb-upload__lists::after {
  content: '';
  clear: both;
  display: block;
}
.thumb-upload__list {
  float: left;
  margin-right: 8px;
  width: 160px;
  height: 160px;
  overflow: hidden;
}
.thumb-upload__btn {
  position: relative;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;

  &:hover {
    background-color: #4ca9c5;
    border-color: transparent;
  };
}
.thumb-upload__btn input {
  opacity:0;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 40px;
}